<div class="container wrapper">
    <div class="row">
        <!-- table -->
        <div class="col-md-12">
            <div class="inner">
                <h3>Asignar Articulo</h3>
                <a class="btn btn-primary text-white add" routerLink="/add-assignment">
                  <i class="fas fa-user-plus"></i> Agregar
                </a>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Linea de carrera</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">tipo</th>
                            <th scope="col">Asignación</th>
                            <th scope="col">Documentos</th>
                            <th scope="col">Nota</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of assignmentList">
                            <th scope="row">{{item.id}}</th>
                            <td>{{item.name}}</td>
                            <td>{{item.created_at}}</td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm move-right" [routerLink]="['/edit-issue/', item.id]">Edit</button>
                                <button type="button" class="btn btn-danger btn-sm" (click)="deleteAssignment(item.id)">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>

